@page "/thermostat"
@inject DeviceFactory DeviceFactory
@using SmartHome.Models
@using SmartHome.Services
@using SmartHome.Patterns.Observer;

<h3>Thermostat Control</h3>

<input type="number" @bind="temperature" />
<button @onclick="() => SetTemperature(temperature)">Set Temperature</button>

@code {
    private OldThermostatAdapter _thermostat;
    private TemperatureMonitor _monitor;
    private ThermostatDisplay _display;
    private int temperature;

    protected override void OnInitialized()
    {
        var oldThermostat = new OldThermostat();
        _thermostat = new OldThermostatAdapter(oldThermostat);
        _monitor = new TemperatureMonitor();
        _display = new ThermostatDisplay();

        _monitor.RegisterObserver(_display);
    }

    public void SetTemperature(int temp)
    {
        _thermostat.SetTemperature(temp);
        UpdateTemperature(temp);
    }

    private void UpdateTemperature(int temp)
    {
        _monitor.TemperatureChanged(temp);
    }
}
