<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SmartHome</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink href="/light">Light</NavLink>
            <NavLink href="/musicplayer">Music Player</NavLink>
            <NavLink href="/tv">TV</NavLink>
            <NavLink href="/thermostat">Thermostat</NavLink>
            <NavLink href="/security">Security Camera</NavLink>
            <NavLink href="/curtain">Curtain</NavLink>
            <NavLink href="/coffeemachine">Coffee Machine</NavLink>
            <NavLink href="/settings">Settings</NavLink>
            <NavLink href="/add-device">Add Device</NavLink>
            <NavLink href="/energy-usage">Energy Usage</NavLink>

        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
