@page "/home-control"
@using SmartHome.Services
@inject HomeMediator HomeMediator

<h3>Home Control</h3>

<button @onclick="ActivateCozyEvening">Activate Movie Mode</button>
<button @onclick="EndCozyEvening">Activate Movie Mode</button>
<button @onclick="ActivatePartyMode">Activate Movie Mode</button>
<button @onclick="ActivateNightMode">Activate Movie Mode</button>
<button @onclick="ActivateDayMode">Activate Movie Mode</button>

@code {
	private void ActivateCozyEvening()
	{
		HomeMediator.CozyEvening();
	}

	private void EndCozyEvening()
	{
		HomeMediator.CozyEvening();

	}
	private void ActivatePartyMode()
	{
		HomeMediator.PartyMode();
	}

	private void EndPartyMode()
	{
		HomeMediator.EndPartyMode();
	}

	private void ActivateNightMode()
	{
		HomeMediator.NightMode();
	}
	private void ActivateDayMode()
	{
		HomeMediator.DayMode();
	}
}

